@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import "tailwindcss";

@font-face {
	font-family: "Nohemi";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/Nohemi-Regular.woff) format("woff");
	ascent-override: 95%;
}

@font-face {
	font-family: "Nohemi";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/Nohemi-Bold.woff) format("woff");
	ascent-override: 95%;
}

:root {
	font-family: "Google Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);
	background-color: #09090b;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@theme {
	--font-heading: "Nohemi", sans-serif;
}

